<!DOCTYPE html>
<html lang="ar-DZ">
<head>
    <title>TITLE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="DESCRIPTION">
    <meta name="keyword" content="KEYWORDS">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body dir="rtl">
    <table style="width: 100%; border: none; height: 40px"></table>
    <ul class="topnav" dir="rtl">
        <li><a href="/index">الصفحة الرئيسية</a></li>
        <li><a href="/news/main.html">آخر الأخبار</a></li>
        <li><a href="javascript:void(0);" onclick="drop_down1()">الملفات</a>
            <div class="dropdown-content" id="files">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </li>
        <li><a href="/games/main.html">الألعاب</a></li>
        <li><a href="/index.html#contact">اتصل بنا</a></li>
        <li><a href="/index.html#about">حول</a></li>
        <li class="menu-icon"><a href="javascript:void(0);">
            <div class="menu-icon" onclick="change_menu_icon(this), drop_down()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div></a>
        </li>
    </ul>
</body>
</html>