<!DOCTYPE html>
<html lang="ar-DZ">
<head>
    <title>آخر الأخبار</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="آخر أخبار الجزائر ومستجدات قطاع التربية التعليم">
    <meta name="keyword" content="أخبار, حدث, دراسة, جديد, حادثة, نشرة, جريدة, وزارة التربية">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <script type="text/javascript" src="js/news.js"></script>
</head>
<body dir="ltr">
    <!--This section is fixed in all pages-->
    <table style="width: 100%; border: none; height: 50px"></table>
    <ul class="topnav" dir="rtl">
        <li><a href="/index">الصفحة الرئيسية</a></li>
        <li><a href="#">آخر الأخبار</a></li>
        <li><a href="javascript:void(0);" onclick="drop_down1()">الملفات</a>
            <div class="dropdown-content" id="files">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </li>
        <li><a href="/games/main.html">الألعاب</a></li>
        <li><a href="/index.html#contact">اتصل بنا</a></li>
        <li><a href="/index.html#about">حول</a></li>
        <li class="menu-icon"><a href="javascript:void(0);">
            <div class="menu-icon" onclick="change_menu_icon(this), drop_down()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div></a>
        </li>
    </ul>
    <!--End of fixed section-->

    <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="img_nature_wide.jpg" style="width:100%">
              <div class="text">Caption Text</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="img_fjords_wide.jpg" style="width:100%">
              <div class="text">Caption Two</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="img_mountains_wide.jpg" style="width:100%">
              <div class="text">Caption Three</div>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
</body>
</html>